@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --main-color1: rgb(51, 241, 17);
    --main-color2: rgb(16, 16, 16);
    --secondary-color: rgb(240, 240, 240);
    --main-color1-t: rgba(51, 241, 17, .8);
    --main-color2-t: rgba(16, 16, 16, .9);
    --secondary-color-t: rgb(216, 216, 216);
}

body{
    background-color: var(--main-color2);
}

nav{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color1-t);
    box-shadow: -2px 5px 14px 3px rgba(0,0,0,0.75);
}

.hamburger-nav{
    display: none;
}

.btn{
    border-radius: 25px;
    padding: 10px;
    border: none;
    outline: none;
}

.nav-content{
    padding: 10px 0 ;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 90px;
}

.logo-container img{
    width: 100%;
    border-radius: 50%;
}

.links-container ul{
    display: flex;
}

.links-container ul li{
    padding: 10px;
}
.links-container ul li a{
    color: #0E0E0E;
    font-size: 1.3rem;
}

.extras-container ul{
    display: flex;
}

.extras-container ul li{
    padding: 10px;
    cursor: pointer;
}
.extras-container ul li i{
    color: #0E0E0E;
    font-size: 1.5rem;
}

header{
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, .8),rgba(14, 14, 14, .8), rgba(51, 241, 17, .1)), url("img/hero.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 6rem;
    color: var(--secondary-color);
}
.words{
    color: var(--main-color1-t);
    font-size: 5.5rem;
}

.filter-products{
    width: 80%;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2rem;
    padding: 40px;
    color: var(--secondary-color);
    font-weight: 400;
    text-transform: uppercase;
}

.input{
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    width: 400px;
    background-color: rgb(22,22,22);
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.2rem;
    transition: .2s;
}
.input:focus{
    transform: scale(1.1);
    background-color: rgb(33, 33, 33);
}

button{
    border: none;
    cursor: pointer;
}

.filter-btn{
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    margin: 10px;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--main-color2);
}
.filter-btn:hover{
    transform: scale(1.1);
    transition: .2s;
}
.active{
    background-color: var(--main-color1);
}


/*CARRITO*/
.sidebar-content{
    position: sticky;
    width: 100%;
    top: 15px;
    overflow: hidden;
}
.sidebar{
    overflow: scroll;
    overflow-x: hidden;
    padding: 15px;
    position: fixed;
    height: 100vh;
    top: 0;
    transform: translateX(-100%);
    width: 375px;
    z-index: 100;
    background-color: rgba(20,20,20,.99);
    transition: .2s;
}
.sidebar i{
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.sidebar h3{
    text-align: center;
    padding-top: 20px;
    font-size: 1.8rem;
    color: var(--secondary-color);
}
.sidebar button{
    font-size: 1rem;
    color: var(--main-color2);
    margin: 10px 10px;
}
.emptyBtn{
    background-color: rgb(223, 19, 19);
}
.buyBtn{
    background-color: var(--main-color1);
}
.btn-container{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
hr{
    background-color: var(--secondary-color);
}
.open-close-sidebar{
    transform: translateX(0%);
}
.total{
    font-size: 1.3rem;
    text-align: center;
    color: var(--secondary-color);
}
h3{
    margin-bottom: 10px;
}
.cardInCart{
    padding-top: 20px;
    width: 100%;
    display: flex;
}
.container-img{
    width: 40%;
}
.container-img img{
    width: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.nameInCart{
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 150px;
}
.priceInCart{
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.cart-quantity{
    width: 70px;
    padding: 5px;
    outline: none;
    border: none;
}
.cardInCart i{
    color: rgb(223, 19, 19);
    font-size: 1.5rem;
    cursor: pointer;
}


/*CARDS*/
.all-products{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}
.card{
    width: 200px;
    margin: 20px;
    background-color: rgb(22,22,22);
    text-align: center;
    transition: .2s;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
}
.card:hover{
    box-shadow: -1px 10px 20px -10px rgba(230,230,230);
}
.card-img{
    width: 100%;
}
.card-img img{
    width: 100%;
}
.card-info{
    height: 90px;
}
.name-container{
    margin-top: 15px;
}
.name{
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 0 6px;
}
.price-container{
    margin-top: 10px;
}
.price{
    color: var(--secondary-color);
    font-size: 1.4rem;
}
.card-action{
    padding: 10px;
}
.addToCartBtn{
    color: var(--main-color1-t);
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 5px;
}
.addToWishBtn{
    color: rgb(223, 19, 19);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 5px;
}

.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/*RESPONSIVE*/
.hamburger-nav{
    display: flex;
    z-index: 100;
}
.hamburger-menu{
    position: absolute;
    left: 0;
    top: 115px;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-110%);
    background-color: var(--main-color2-t);
    transition: .2s;
    z-index: 0;
}
.open-close-menu{
    transform: translateX(0);
}
.hamburger-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.hamburger-menu ul li{
    padding: 15px;
    cursor: pointer;
}
.hamburger-menu ul li a{
    font-size: 1.2rem;
    color: var(--secondary-color)
}
.hamburgerBtn{
    background-color: transparent;
    font-size: 1.5rem;
    padding: 10px;
}
.hamburgerBtn i{
    color: var(--main-color2);
}
.btnContainer{
    width: 30%;
    text-align: center;
}

/*FOOTER*/
footer{
    margin-top: 20px;
    background-color: var(--main-color1-t);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    padding: 20px;
}
.social-links a{
    padding: 0 10px;
}
.social-links a i{
    color: var(--main-color2);
    font-size: 1.7rem;
    cursor: pointer;
}
.copyright{
    padding-bottom: 20px;
    font-size: .9rem;
    font-weight: 500;
}

@media screen and (max-width: 480px){
    .normal-nav{
        display: none;
    }
    .hamburger-nav{
        display: block;
    }
    .logo-container{
        width: 70px;
    }
    .titulo{
        font-size: 4rem;
    }
    .words{
        font-size: 3.5rem;
    }
    .extras-container{
        width: 32%;
        display: flex;
        justify-content: end;
    }
    .extras-container ul li i{
        font-size: 1.2rem;
    }
    .nav-content{
        width: 90%;
        justify-content: space-between;
    }
    .hamburger-menu{
        top: 95px;
    }
    .input{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .all-products{
        width: 100%;
    }
    .card{
        width: 250px;
    }
    .name{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 700px){
    .normal-nav{
        display: block;
    }
    .hamburger-nav{
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px){
    .normal-nav{
        display: none;
    }
    .nav-content{
        width: 90%;
    }
    .btnContainer{
        width: 20%;
        left: 0;
    }
    .sidebar{
        width: 80%;
    }
    .titulo{
        font-size: 5rem;
    }
    .words{
        font-size: 4.5rem;
    }
    .all-products{
        width: 90%;
        margin-top: 20px;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1056px){
    .all-products{
        width: 90%;
        margin-top: 20px;
        margin: 0 auto;
    }
}


/*BOTON PARA AGREGAR PRODUCTO AL CARRITO*/
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}
  
.add-btn:hover {
    width: 120px;
}
  
.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: var(--main-color1-t);
}
  
.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
  
.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
  
.icon-btn:focus {
    outline: none;
}
  
.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}
  
.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}
  
.add-btn:hover .btn-txt {
    opacity: 1;
}
  
.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: var(--main-color1-t);
    overflow: hidden;
}
  
.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
  
.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
  
.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
  
.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}


/*BOTONES COMPRAR Y VACIAR CARRITO*/
.btnAnimation {
    padding: 17px ;
    border-radius: 50px;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all .5s ease;
}
   
.btnAnimation:hover {
    letter-spacing: 3px;
    color: #000;
    box-shadow: rgba(100,100,100) 0px 7px 29px 0px;
}
   
.btnAnimation:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/*SCROLL BAR*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--hue), 8%, 66%);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: var(--main-color1-t);
  }

/*FORMULARIO DE CONTACTO*/

#contact{
    margin-top: 20px;
}
.ubicacion{
    width: 100%;
}


